body {
    /* Default font, full-page background image, flex layout, and central alignment */
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1,
h3 {
    /* Blue color and center alignment for h1 and h3 elements */
    color: #3498db;
    text-align: center;
}

#app-container {
    /* Styling for the app container with borders, padding, and centered flex layout */
    border: 2px solid #3498db;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    background-color: #f2f5fa;
    text-align: center;
}

#Title {
    /* Center alignment for the Title element */
    text-align: center;
}

#greeting-message {
    /* Center alignment for greeting message text */
    text-align: center;
}

#padding {
    /* Auto height with bottom padding */
    height: auto;
    padding-bottom: 150px;
}

#intro-text {
    /* Block display, center alignment, and large font for intro text */
    display: block;
    text-align: center;
    justify-content: center;
    font-size: large;
}

.todo-container {
    /* Centered block layout for to-do container with margin and width adjustments */
    display: block;
    text-align: center;
    justify-content: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    /* Styling for text inputs with padding, margin, border, and centered text */
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #3498db;
    width: 60%;
    text-align: center;
    justify-content: center;

}

button {
    /* Styling for buttons with padding, color, and hover effect */
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

button:hover {
    /* Hover effect for buttons with darker background color */
    background-color: #2980b9;
}

ul {
    /* Unstyled list with centered text and justified content */
    list-style-type: none;
    padding: 0;
    text-align: center;
    justify-content: center;
}

li {
    /* Styling for list items with background, padding, margin, and box shadow */
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-evenly;
}

#motivational-message {
    /* Styling for motivational message with bold and large text, and padding */
    margin-top: 20px;
    padding: 15px;
    color: rgb(175, 0, 0);
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
}

#motivational-message p {
    /* Removes margin from paragraphs in the motivational message section */
    margin: 0;
}

footer {
    /* Styling for footer with background color, text alignment, and sticky positioning */
    background-color: #3498db;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 100px;
    position: sticky;
    top: 100%;
}

#footer-list {
    /* Footer list styling with flex layout, space distribution, and background color */
    background-color: #3498db;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
}

.footer-items {
    /* Styling for footer items with bold white text and no text decoration */
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    /* Style for visited links with no text decoration and white color */
    text-decoration: none;
    color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 1143px) {

    input,
    button {
        width: 100%;
        margin: 0 0 10px;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {

    /* Assuming the container of the buttons has a class name 'container' */
    .container {
        padding: 0 10px;
        /* Add padding to the left and right */
    }

    /* Targeting all buttons and adjusting their properties */
    button {
        width: 100%;
        /* Make buttons full width */
        box-sizing: border-box;
        /* Include padding and border in the width */
        margin-bottom: 10px;
        /* Add some space between the buttons */
            display: flex;
                justify-content: center;
                align-items: center;
    }

    /* Adjusting font-size for all text inside the container */
    .container * {
        font-size: 16px;
        /* Adjust font size */
    }
}
@media only screen and (min-width: 600px) {
    .todo-container {
        max-width: 600px;
    }
}